﻿
@{
    
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-6 col-lg-6 clear-fix">
        <h1>Welcome to iSAMS!</h1>
        <p>Welcome to iSAMS!You are currently on the F/A-18 task dashboard. To create a new stress analysis job, click on one of the repair type links below to begin.
            If you would like to see the status of your recently submitted jobs, check your recent job history to the right. To search for a specific job by REI# or BUNO,
            use the search box. You can reach a full sortable list of your job history using the Jobs button on the navigation bar. If you are new to this system and 
            would like to learn how it works, <a href="#" id="AlertFAQ">find out more here &gt;&gt;</a>
        </p>
    </div>
    <div class="col-md-6 col-lg-6">
        <h1>Search for Saved Jobs</h1>
        <div class="FA18PlatformSearch">
            <p><strong>Search Jobs by: </strong><select name="FA18PlatformSearchFilter" id="FA18PlatformSearchFilter">
                <option selected value="REI#">REI#</option>
                <option value="BUNO">BUNO</option>
                <option value="Part#">Part#</option>
            </select></p>
            <p><input width="100%" type="text"name="FA18PlatformSearchText" /><button class="FA18PlatformSearcSearchLaunch" id="AlertSearchButton"><span class="glyphicon glyphicon-search"></span></button></p>
            <div class="FA18PlatformAdvancedSearchLink"><a href="#" id="AlertAdvancedSearch">Advanced Search &gt;&gt;</a></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="FA18PlatformNewJobMenu">
            <h1>Choose a Model to Start a New Job:</h1>
            <div id="FA18PlatformNewJobMenu"></div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <h1>Your Recent Job History:</h1>
        <div class="pull-right FA18PlatformNewJobMenu">
            <button id="FA18PlatformNewJobsButton">NEW JOBS</button>
            <button id="FA18PlatformSubmittedJobsButton">SUBMITTED JOBS</button>
        </div>
        <div id="FA18PlatformJobList"></div>
        <h3 style="margin-top: 10px;"><a id="AlertJobCentral" href="#">View Full Sortable Job List &gt;&gt;</a>
        </h3>
    </div>
</div>
<script src="~/Controllers/HomeController.js"></script>