﻿@model IEnumerable<I2ES.Web.Models.ShortJobListViewModel>

<script src="~/Controllers/JobListController.js"></script>
<table class="table" cellspacing="0" cellpadding="0">
    <tr>
        <th>
            Job ID#
        </th>
        <th>
            Type
        </th>
        <th>
            Date
        </th>
        <th>
            Status
        </th>
        <th style="padding: 8px 2px;">
            Stress Report
        </th>
        <th>
            CLI Form
        </th>
        <th>
            SCW File
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr @item.EvenOddStyle>
            <td style="margin: auto; text-align: center;">
                <button class="@item.ButtonClass">@item.JobId</button>
            </td>
            <td style="margin: auto; text-align: center">
                <img src="@item.ModelGraphicPath" title="@Html.DisplayFor(modelItem => item.ModelName)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td style="margin: auto; text-align: center; width: 16%">
                <a class="StressReport" href="#"><img src="@item.StressReportIconPath" /></a>
            </td>
            <td style="margin: auto; text-align: center; width: 16%">
                <a class="CliReport" href="#"><img src="@item.CLIReportIconPath" /></a>
            </td>
            <td style="margin: auto; text-align: center; width: 16%">
                <a class="SCWFile" href="#"><img src="@item.SCWReportIconPath" /></a>
            </td>

        </tr>
    }

</table>
<script type="text/javascript">
    if (window.jobHistoryButtonState === "new") {
        $(".JobIdLink").colorbox({
            html: "<div style=padding:30px;><h3>New Job Editing Coming Soon</h3><p>Clicking this button will allow you to edit <br/>a job that has not been submitted.</p></div>"
        });
    } else {
        $(".JobIdLink").colorbox({
            html: "<div style=padding:30px;><h3>Job Copying Coming Soon</h3><p>Clicking this button will will allow you to <br/> copy  a job that has been submitted.</p></div>"
        });
    }
    $(".StressReport").colorbox({
        html: "<div style=padding:30px;><h3>Stress Report Coming Soon</h3><p>Clicking this button will will allow you download the Stress Report.</p></div>"
    });
    $(".CliReport").colorbox({
        html: "<div style=padding:30px;><h3>CLI Report Coming Soon</h3><p>Clicking this button will will allow you download the CLI Report.</p></div>"
    });
    $(".SCWFile").colorbox({
        html: "<div style=padding:30px;><h3>SCW File Coming Soon</h3><p>Clicking this button will will allow you download the SCW File.</p></div>"
    });
</script>
