﻿@model IEnumerable<I2ES.Web.Models.ModelTypeViewModel>


<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.ModelTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelTypeImagePath)
        </th>
        <th></th>
    </tr>*@

    <tr>
        <td width="82" style="border-right: solid 10px #8596A0;">
            <a class="singleHole" href="/i2es/home/newJob?jobTypeId=13"><img src="/I2ES/Images/graphic_single_hole.svg"  title="Single Hole"/></a>
        </td>
        <td>
            <h2><a href="/I2ES/home/newJob?jobTypeId=13" class="singleHole" id="newJobSingleHole" >Single Hole Analysis</a>
            </h2>
        </td>
    </tr>
    <tr>
        <td width="82" style="border-right: solid 10px #8596A0;">
            <a class="multipleHole" href="#"><img src="/I2ES/Images/graphic_multiple_hole.svg" title="Multiple Hole"/></a>
        </td>
        <td>
            <h2 title="This Job Type is not yet enabled in iSAMS.">Multiple Hole Analysis</h2>
        </td>
    </tr>
    <tr>
        <td width="82" style="border-right: solid 10px #8596A0;">
            <a class="lug2D" href="#"><img src="/I2ES/Images/graphic_2d_lug.svg" title="2-D Lug"/></a>
        </td>
        <td>
            <h2 title="This Job Type is not yet enabled in iSAMS.">2-D Lug Analysis</h2>
        </td>
    </tr>
    <tr>
        <td width="82" style="border-right: solid 10px #8596A0;">
            <a class="lug3d" href="#"><img src="/I2ES/Images/graphic_3d_lug.svg" title="3-D Lug" /></a>
        </td>
        <td>
            <h2 title="This Job Type is not yet enabled in iSAMS.">3-D Lug Analysis</h2>
        </td>
    </tr>
        
    @*@foreach (var item in Model) {*@
@*    <tr>*@
@*        <td>*@
@*            @Html.DisplayFor(modelItem => item.ModelTypeName)*@
@*        </td>*@
@*        <td>*@
@*            @Html.DisplayFor(modelItem => item.ModelTypeImagePath)*@
@*        </td>*@
@**@
@*    </tr>*@
@*}*@

</table>
<script type="text/javascript">
//    $("a.singleHole").colorbox({
//        html: "<div style=padding:30px;><h3>Single Hole Stress Analysis Job Creation Coming Soon</h3><p>The model icons and names will take you to forms that<br/>will allow you to create a new stress analysis.</p></div>"
//    });
    $("a.multipleHole").colorbox({
        html: "<div style=padding:30px;><h3>Multiple Hole Stress Analysis Job Creation Coming Soon</h3><p>The model icons and names will take you to forms that<br/>will allow you to create a new stress analysis.</p></div>"
    });
    $("a.lug2D").colorbox({
        html: "<div style=padding:30px;><h3>2D Lug Stress Analysis Job Creation Coming Soon</h3><p>The model icons and names will take you to forms that<br/>will allow you to create a new stress analysis.</p></div>"
    });
    $("a.lug3d").colorbox({
        html: "<div style=padding:30px;><h3>3D Lug Stress Analysis Job Creation Coming Soon</h3><p>The model icons and names will take you to forms that<br/>will allow you to create a new stress analysis.</p></div>"
    });
</script>