﻿ @model IEnumerable<I2ES.Web.Models.ShortJobListViewModel>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.ModelGraphicPath" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
        </tr>
    }

</table>