﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Job Central</h1>
<p>Job Central will be a place to see all of the jobs you have submitted, with tools to filter and sort the data. This page's content is coming soon.</p>

