﻿@model I2ES.Model.DomainModel.LoadData
@Scripts.Render("~/Controllers/LoadDataController.js")
@{
    ViewBag.Title = "Global Load Data";
}

<h2>Global Load Data -JobId 351</h2>


<div>
    <select name="selectLocation" id="selectLocation">
        <option>Choose a Location</option>
        <option>Aft</option>
        <option>Center</option>
        <option>Forward</option>
        <option>LEX</option>
        <option>NoseBarrel</option>
        <option>Wing</option>
        <option>ForwardCenter</option>
        <option selected="selected">ForwardNoseBarrel</option>
        <option>ForwardLEX</option>
        <option>CenterLEX</option>
        <option>CenterForwardNoseBarrel</option>
        <option>ForwardCenterLEX</option>
    </select>
</div>
<div class="data-input-tr">

    <input id="inputJobId" type="hidden" name="jobId" value="351" />
</div>
<div class="data-input-tr">
    ElementId
    <input id="selectElementId" name="elementId" value="19520">
</div>

<div class="data-input-tr">
    Static Load Case
    <input id="inputStaticLoadCase" name="staticLoadCase" value="0" />
</div>
<div class="data-input-tr">
    Fatigue Load Case
    <input id="inputFatigueLoadCase" name="fatigueLoadCase" value="0" />
</div>
<div style="margin-top: 5px; margin-bottom: 15px">
    <input type="submit" id="buttonSubmit" value="Submit" />
</div>
<div id="divDataGrids">
    <div class="data-input-tr">
        Static Min Max
    </div>
    <table id="jqGridStaticMinMax"></table>
    <div id="jqGridPagerStaticMinMax"></div>
    <p />
    <div class="data-input-tr">
        Static Load Data   
    </div>
    <table id="jqGridStatic"></table>
    <div id="jqGridPagerStatic"></div>

    <p />
    <p />
    <div class="data-input-tr">
        Fatigue Min Max   
    </div>
    <table id="jqGridFatigueMinMax"></table>
    <div id="jqGridPagerFatigueMinMax"></div>

    <div class="data-input-tr">
        Fatigue Load Data
    </div>
    <table id="jqGridFatigue"></table>
    <div id="jqGridPagerFatigue"></div>

</div>
