﻿@model I2ES.Model.DomainModel.StaticLoadData

@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

<fieldset>
    <legend>StaticLoadData</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JobId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StaticLc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StaticLc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StaticNode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StaticNode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StaticPx)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StaticPx)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StaticPy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StaticPy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StaticPz)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StaticPz)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StaticMx)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StaticMx)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StaticMy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StaticMy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StaticMz)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StaticMz)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StaticFx)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StaticFx)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StaticFy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StaticFy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StaticFxy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StaticFxy)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.StaticLoadDataId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
