﻿html {
    /*background-color: #e2e2e2;*/
    margin: 0;
    padding: 0;
}

body {
    
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    padding: 0;
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
   /* */
}

h2 {
    font-size: 1.75em;
}
.data-input-tr {
    color: #333333;
    font-family: Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    height: 30px;
}

.data-input-inputtag {
    width: 90%;height: 28px
}

.data-input-inputdiv {
    width: 300px;
}

.header-bar {
    
    /*background: url(/I2ES/Images/main-top-banner.jpg);*/
    top: 0;
    left: 0;
    height: 110px;
    width: 100%;
    position: fixed;
    }

.navy-globe {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
}
.button-bar {
    margin-right: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.interface-button {
    margin: 5px;
}
.main-body {
    margin-top: 110px;
}
.content-wrapper {
    
    margin: 0 auto;
    /*max-width: 960px;*/
    
}
