﻿@model I2ES.Web.Models.GeometryViewModel

<div class="row" id="SubViewDiv">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 style="padding-left: 15px;">Applied Loads: Fatigue Bypass Loads</h1>
    </div>
</div>
<div class="row" style="padding-left: 15px; padding-right: 15px; padding-bottom: 100px;">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn1">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv1"></button>
                <h5>Bypass Load: X Direction</h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv1">
                <img src="/I2ES/Images/graphic_single_hole_byp1.svg" class="AppliedLoadImage"/>
                <input class="AppliedLoadInput JobEntryInput" id="fatigueLoad_BYP1" value="0" tabindex="1"/>
                <input class="AppliedLoadGrayedInput" id="fatigueLoad_BYP1_1" value="0"/>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn2">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv2"></button>
                <h5>Bypass Load: Y Direction</h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv2">
                <img src="/I2ES/Images/graphic_single_hole_byp2.svg" class="AppliedLoadImage" />
                <input class="AppliedLoadInput JobEntryInput" id="fatigueLoad_BYP2" value="0" tabindex="2" />
                <input class="AppliedLoadGrayedInput" id="fatigueLoad_BYP2_1" value="0" readonly />
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn3">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv3"></button>
                <h5>Bypass Load: In Shear</h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv3">
                <img src="/I2ES/Images/graphic_single_hole_byp3.svg" class="AppliedLoadImage"/>
                <input class="AppliedLoadInput JobEntryInput" id="fatigueLoad_BYP3" tabindex="3" value="0" />
                <input class="AppliedLoadGrayedInput" id="fatigueLoad_BYP3_1" value="0" readonly/>
                <input class="AppliedLoadGrayedInput" id="fatigueLoad_BYP3_2" value="0" readonly/>
                <input class="AppliedLoadGrayedInput" id="fatigueLoad_BYP3_3" value="0" readonly />
            </div>
        </div>
    </div>
</div>
