﻿
@using System.Reflection
@using I2ES.Services.Identity;
@using I2ES.Web.Controllers
@model I2ES.Web.Models.GeometryViewModel

<div class="container">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 GeometryInputColumn">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="JobEntryInputBox">
                    <div class="JobEntryInputBoxHeader">
                        <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv1"></button>
                        <h5>Print Geometry</h5>
                    </div>
                    <div class="JobEntryInputBoxBody in" id="CollapseDiv1">
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="printParameters_W">Plate Width</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" tabindex="1" type="text" id="printParameters_W" value="@Model.JobType.AllParameters["printParameters_W"].ParameterValue.Value" />@Model.JobType.AllParameters["printParameters_W"].Unit.Name
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                
                                <label id="printParameters_H">Plate Height</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" tabindex="2" type="text" id="printParameters_H" value="@Model.JobType.AllParameters["printParameters_H"].ParameterValue.Value" />@Model.JobType.AllParameters["printParameters_H"].Unit.Name
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="printParameters_th">Plate Thickness</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" tabindex="3" type="text" id="printParameters_th" value="@Model.JobType.AllParameters["printParameters_th"].ParameterValue.Value" />@Model.JobType.AllParameters["printParameters_th"].Unit.Name
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="printParameters_dx">Hole Offset: X</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" tabindex="4" type="text" id="printParameters_dx" value="@Model.JobType.AllParameters["printParameters_dx"].ParameterValue.Value" />@Model.JobType.AllParameters["printParameters_dx"].Unit.Name
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="printParameters_dy">Hole Offset:Y</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput"  tabindex="5" type="text" id="printParameters_dy" value="@Model.JobType.AllParameters["printParameters_dy"].ParameterValue.Value" />@Model.JobType.AllParameters["printParameters_dy"].Unit.Name
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="printParameters_do">Hole Diameter</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" tabindex="6" type="text" id="printParameters_do" value="@Model.JobType.AllParameters["printParameters_do"].ParameterValue.Value" />@Model.JobType.AllParameters["printParameters_do"].Unit.Name
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 GeometrySecondColumn">
                <div class="JobEntryInputBox">
                    <div class="JobEntryInputBoxHeader">
                        <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv2"></button>
                        <h5>Repair Geometry</h5>
                    </div>
                    <div class="JobEntryInputBoxBody in" id="CollapseDiv2">
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="repairParameters_W">Plate Width</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" type="text" tabindex="25" id="repairParameters_W" value="@Model.JobType.AllParameters["repairParameters_W"].ParameterValue.Value" />@Model.JobType.AllParameters["repairParameters_W"].Unit.Name
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="repairParameters_H">Plate Height</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" type="text" tabindex="26" id="repairParameters_H" value="@Model.JobType.AllParameters["repairParameters_H"].ParameterValue.Value" />@Model.JobType.AllParameters["repairParameters_H"].Unit.Name
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="repairParameters_th">Plate Thickness</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" type="text" tabindex="27" id="repairParameters_th" value="@Model.JobType.AllParameters["repairParameters_th"].ParameterValue.Value" />@Model.JobType.AllParameters["repairParameters_th"].Unit.Name
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="repairParameters_dx">Hole Offset: X</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" type="text" tabindex="28" id="repairParameters_dx" value="@Model.JobType.AllParameters["repairParameters_dx"].ParameterValue.Value" />@Model.JobType.AllParameters["repairParameters_dx"].Unit.Name
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="repairParameters_dy">Hole Offset:Y</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" type="text" tabindex="29" id="repairParameters_dy" value="@Model.JobType.AllParameters["repairParameters_dy"].ParameterValue.Value" />@Model.JobType.AllParameters["repairParameters_dy"].Unit.Name
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="repairParameters_do">Hole Diameter</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" type="text" tabindex="30" id="repairParameters_do" value="@Model.JobType.AllParameters["repairParameters_do"].ParameterValue.Value" />@Model.JobType.AllParameters["repairParameters_do"].Unit.Name
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="JobEntryInputBox">
                    <div class="JobEntryInputBoxHeader">
                        <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv3"></button>
                        <h5>Print Plate Material</h5>
                    </div>
                    <div class="JobEntryInputBoxBody in" id="CollapseDiv3">
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="printMaterial_material">Material</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="7" disabled="disabled" id="printMaterial_material">
                                    <option>Aluminum</option>
                                    <option>X Hi Tough Stainless Steel</option>
                                    <option>Stainless Steel</option>
                                    <option>Titanium</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="printMaterial_alloy">Alloy</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="8" disabled="disabled" id="printMaterial_alloy">
                                    <option>2024</option>
                                    <option>2024 Clad</option>
                                    <option>6061</option>
                                    <option>7049</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="printMaterial_form">Form</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="9" disabled="disabled" id="printMaterial_form">
                                    <option>Bar</option>
                                    <option>Die Forging</option>
                                    <option>Extrusion</option>
                                    <option>Hand Forging</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="printMaterial_temper">Temper</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="10" disabled="disabled" id="printMaterial_temper">
                                    <option>T7351</option>
                                    <option>T73511</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="printMaterial_spec">Spec</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="11" disabled="disabled" id="printMaterial_spec">
                                    <option>AMS 4200</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="printMaterial_stockThickness">Stock Thickness</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="12" disabled="disabled" id="printMaterial_stockThickness">
                                    <option>1.501 - 2.0</option>
                                    <option>2.001 - 2.5</option>
                                    <option>2.501 - 3.0</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label id="printMaterial_stockExternalArea">Stock Cross-Section Area</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <select class="JobEntrySelect" tabindex="13" disabled="disabled" id="printMaterial_stockExternalArea" style="width:88%">
                                    <option>0 - 9999</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="printParameters_Em">Plate E</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" tabindex="14" type="text" id="printParameters_Em" /> Msi
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="printParameters_Nu">Plate Nu</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" tabindex="15" type="text" id="printParameters_Nu" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <label id="otherPrintParameters_temperatureReductionFactor">Temperature Reduction Factor</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <input class="JobEntryTextBox JobEntryInput" tabindex="16" type="text" style="width: 77%" id="otherPrintParameters_temperatureReductionFactor" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 GeometrySecondColumn">
                <div class="JobEntryInputBox">
                    <div class="JobEntryInputBoxHeader">
                        <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv4"></button>
                        <h5>Repair Plate Material</h5>
                    </div>
                    <div class="JobEntryInputBoxBody in" id="CollapseDiv4">
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="repairMaterial_material">Material</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="31" disabled="disabled" id="repairMaterial_material">
                                    <option>Aluminum</option>
                                    <option>X Hi Tough Stainless Steel</option>
                                    <option>Stainless Steel</option>
                                    <option>Titanium</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="repairMaterial_alloy">Alloy</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="32" disabled="disabled" id="repairMaterial_alloy">
                                    <option>2024</option>
                                    <option>2024 Clad</option>
                                    <option>6061</option>
                                    <option>7049</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="repairMaterial_form">Form</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="33" disabled="disabled" id="repairMaterial_form">
                                    <option>Bar</option>
                                    <option>Die Forging</option>
                                    <option>Extrusion</option>
                                    <option>Hand Forging</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="repairMaterial_temper">Temper</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="34" disabled="disabled" id="repairMaterial_temper">
                                    <option>T7351</option>
                                    <option>T73511</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="repairMaterial_spec">Spec</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="35" disabled="disabled" id="repairMaterial_spec">
                                    <option>AMS 4200</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="repairMaterial_stockThickness">Stock Thickness</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="36" disabled="disabled" id="repairMaterial_stockThickness">
                                    <option>1.501 - 2.0</option>
                                    <option>2.001 - 2.5</option>
                                    <option>2.501 - 3.0</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label id="repairMaterial_stockExternalArea">Stock Cross-Section Area</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <select class="JobEntrySelect" tabindex="37" disabled="disabled" id="repairMaterial_stockExternalArea" style="width:88%">
                                    <option>0 - 9999</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="repairParameters_Em">Plate E</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" tabindex="38" type="text" id="repairParameters_Em" /> Msi
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="repairParameters_Nu">Plate Nu</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" tabindex="39" type="text" id="repairParameters_Nu" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <label id="otherRepairParameters_temperatureReductionFactor">Temperature Reduction Factor</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <input class="JobEntryTextBox JobEntryInput" tabindex="40" type="text" style="width: 77%" id="otherRepairParameters_temperatureReductionFactor" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="JobEntryInputBox">
                    <div class="JobEntryInputBoxHeader">
                        <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv5"></button>
                        <h5>Print Fastener</h5>
                    </div>
                    <div class="JobEntryInputBoxBody in" id="CollapseDiv5">
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="printFastener_type">Type</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="17" disabled="disabled" id="printFastener_type">
                                    <option>Jo-Bolt</option>
                                    <option>Hi-Lok Shear Countersunk</option>
                                    <option>Hi-Lok Shear Protruding</option>
                                    <option>Hi-Lok Tension Protruding</option>
                                    <option>Collar</option>
                                    <option>Milson</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="printFastener_size">Size</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="18" disabled="disabled" id="printFastener_size">
                                    in
                                    <option>1/4</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="printFastener_material">Material</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="19" disabled="disabled" id="printFastener_material">
                                    <option>ST Ph13-BMo</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="otherPrintParameters_do_Fastener">Diameter</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" tabindex="20" type="text" id="otherPrintParameters_do_Fastener" /> in
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <span>Countersunk Hole</span>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <input class="JobEntryInput Checkbox" tabindex="21" type="checkbox" id="otherPrintParameters_CSK" name="otherPrintParameters_CSK"/>
                                <label for="otherPrintParameters_CSK" class="CheckboxLabel"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="otherPrintParameters_cskDepth">Countersink Depth</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" tabindex="22" type="text" id="otherPrintParameters_cskDepth" /> in
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="otherPrintParameters_Em_Fastener">Fastener E</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" tabindex="23" type="text" id="otherPrintParameters_Em_Fastener" /> Msi
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <span>Neat-Fit Fastener</span>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <input class="JobEntryInput Checkbox" tabindex="24" type="checkbox" id="otherPrintParameters_neatFit" name="otherPrintParameters_neatFit"/>
                                <label for="otherPrintParameters_neatFit" class="CheckboxLabel"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 GeometrySecondColumn">
                <div class="JobEntryInputBox">
                    <div class="JobEntryInputBoxHeader">
                        <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv6"></button>
                        <h5>Repair Fastener</h5>
                    </div>
                    <div class="JobEntryInputBoxBody in" id="CollapseDiv6">
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="repairFastener_type">Type</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="41" disabled="disabled" id="repairFastener_type">
                                    <option>Jo-Bolt</option>
                                    <option>Hi-Lok Shear Countersunk</option>
                                    <option>Hi-Lok Shear Protruding</option>
                                    <option>Hi-Lok Tension Protruding</option>
                                    <option>Collar</option>
                                    <option>Milson</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="repairFastener_size">Size</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="42" disabled="disabled" id="repairFastener_size">
                                    in
                                    <option>1/4</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="repairFastener_material">Material</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <select class="JobEntrySelect" tabindex="43" disabled="disabled" id="repairFastener_material">
                                    <option>ST Ph13-BMo</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="otherRepairParameters_do_Fastener">Diameter</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" type="text" tabindex="44" id="otherRepairParameters_do_Fastener" /> in
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <span>Countersunk Hole</span>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <input class="JobEntryInput Checkbox" type="checkbox" tabindex="45" id="otherRepairParameters_CSK" name="otherRepairParameters_CSK"/>
                                <label for="otherRepairParameters_CSK" class="CheckboxLabel"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="otherRepairParameters_cskDepth">Countersink Depth</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" type="text" tabindex="46" id="otherRepairParameters_cskDepth" /> in
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label id="otherRepairParameters_Em_Fastener">Fastener E</label>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <input class="JobEntryTextBox JobEntryInput" type="text" tabindex="47" id="otherRepairParameters_Em_Fastener" /> Msi
                            </div>
                        </div>
                        <div class="row">
                            <div class="JobEntryInputBoxLabel col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <span>Neat-Fit Fastener</span>
                            </div>
                            <div class="JobEntryInputBoxInput col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <input class="JobEntryInput Checkbox" type="checkbox" tabindex="48" id="otherRepairParameters_neatFit" name="otherRepairParameters_neatFit"/>
                                <label for="otherRepairParameters_neatFit" class="CheckboxLabel"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 GeometryDiagram">
        <h1>Print &amp; Repair Geometry</h1>
        <img src="/I2ES/Images/graphic_single_hole_detailed.svg" style="width: 100%; height: auto;" />
    </div>
</div>
