﻿@using I2ES.Model.DomainModel
@model I2ES.Model.DomainModel.IISAMSModel
<script src="~/Controllers/JobEntryController.js"></script>
<div class="FullWidthBackground">
    <div class="container">
        <div class="row JobEntrySubNavContainer">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <img src="~/Images/title_single_hole_analysis.png" alt="Single-Hole Analysis" class="img-responsive"/>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <nav class="JobEntrySubNav pull-right">
                    <a class="subViewButton hideSecondRow JobEntrySubNavSelected" id="buttonGeometrySubview" data-toggle="tab">PRINT &amp; REPAIR GEOMETRY</a>
                    <a class="subViewButton" id="buttonAppliedLoads" data-toggle="tab">APPLIED LOADS</a>
                    <a class="subViewButton  hideSecondRow" id="buttonLoadBalanceSubview" data-toggle="tab">LOAD BALANCE</a>
                </nav>
            </div>
            <div class="JobEntrySubNavFullWidthBackground"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row JobEntryBasicRow">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 JobIDDisplay JobEntryBasicInformation">
            <label>JobID# &nbsp;&nbsp;</label>
            <span id="JobIDDisplay">@Model.Job.JobId</span>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 JobEntryBasicInformation">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <label>REI#</label>
                <input class="JobInput" name="REI" id="REI" value="@Model.Job.REINumber"/>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <label>BUNO</label>
                <input class="JobInput" name="BUNO" id="BUNO" value="@Model.Job.BUNO"/>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <label>PART#</label>
                <input class="JobInput" name="PART" id="PART" value="@Model.Job.PartNumber"/>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <label>MODEL</label>
                <select class="JobInput" name="AircraftModel" id="AircraftModel" >
                    <option id="1" @if (Model.Job.AircraftModel == AircraftModel.FA18A) {@: selected="selected"
                                   }>F/A-18 A</option>
                    <option id="2" @if (Model.Job.AircraftModel == AircraftModel.FA18B) { @: selected="selected"
                                   }> F/A-18 B</option>
                    <option id="3" @if (Model.Job.AircraftModel == AircraftModel.FA18C) { @: selected="selected"
                                   }>F/A-18 C</option>
                    <option id="4" @if (Model.Job.AircraftModel == AircraftModel.FA18D) {@: selected="selected"
                                   }>F/A-18 D</option>
                    <option id="5" @if (Model.Job.AircraftModel == AircraftModel.FA18E) {@: selected="selected"
                                   }>F/A-18 E</option>
                    <option id="6" @if (Model.Job.AircraftModel == AircraftModel.FA18F) { @: selected="selected"
                                   }>F/A-18 F</option>
                    <option id="7" @if (Model.Job.AircraftModel == AircraftModel.FA18G) { @: selected="selected"
                                   }>F/A-18 G</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row AppliedLoadsSubNav" id="AppliedLoadsSubNav">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 AppliedLoadsSubNavLeft">
            <h3>F A T I G U E &nbsp; L O A D S</h3>
            <nav>
                <a class="subViewButton AppliedLoadsSubNavSelected" id="buttonFatigueBypassSubview" data-toggle="tab">BYPASS LOADS</a>
                <a class="subViewButton" id="buttonFatigueAxialSubview" data-toggle="tab">AXIAL LOADS</a>
                <a class="subViewButton" id="buttonFatigueBearingSubview" data-toggle="tab">BEARING LOADS</a>
            </nav>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 AppliedLoadsSubNavRight">
            <h3>S T A T I C &nbsp; L O A D S</h3>
            <nav>
                <a class="subViewButton" id="buttonStaticBypassSubview" data-toggle="tab">BYPASS LOADS</a>
                <a class="subViewButton" id="buttonStaticAxialSubview" data-toggle="tab">AXIAL LOADS</a>
                <a class="subViewButton" id="buttonStaticBearingSubview" data-toggle="tab">BEARING LOADS</a>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row JobEntrySubViewContainer" id="body"></div>
</div>
<div class="FullWidthBackground">
    <div class="container">
        <div class="JobEntryBottomNavButtons">
            <nav role="navigation" class="navbar navbar-default">
                <ul class="nav navbar-right navbar-nav">
                    <li><a href="#" id="JobEntryBackButton">Back</a></li>
                    <li><a href="#" id="JobeEntrySubmitButton">Submit</a></li>
                    <li><a href="#" id="JobEntryNextButton">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="JobEntryBottomNavButtonsFullWidthBackground">&nbsp;</div>
</div>


