﻿@model I2ES.Web.Models.GeometryViewModel

<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <h1 class="LoadBalanceHeader">Fatigue Load Balance</h1>
    </div>
    <div class="col-sm-offset-2 col-sm-6" id="LoadBalanceModel">
        <img class="LoadBalanceModel" src="/I2ES/Images/graphic_single_hole_load_balance.svg" alt="Single-Hole Analysis Load Balance Diagram" />
        <input class="AppliedLoadInput" id="LoadBalance_fatigueLoad_ID1" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_fatigueLoad_ID2" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_fatigueLoad_ID3" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_fatigueLoad_ID4" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_fatigueLoad_ID5" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_fatigueLoad_ID6" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_fatigueLoad_ID7" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_fatigueLoad_ID8" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_fatigueLoad_ID9" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_fatigueLoad_ID10" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_fatigueLoad_ID11" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_fatigueLoad_ID12" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_fatigueLoad_ID13" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_fatigueLoad_ID14" value="0" />
    </div> 
    <div class="col-sm-2" id="LoadBalanceTotals">
        <div class="JobEntryInputBox">
            <div class="JobEntryInputBoxHeader">
                <h5>Load Balance by Axis</h5>
            </div>
            <div class="row JobEntryInputBoxBody">
                <div class="col-xs-4">
                    <label class="pull-right">F<em>x</em></label>
                </div>
                <div class="col-xs-8">
                    <input class="AppliedLoadInput" id="LoadBalance_fatigueLoad_Fx" value="0" /> lb
                </div>
                <div class="col-xs-4">
                    <label class="pull-right">F<em>y</em></label>
                </div>
                <div class="col-xs-8">
                    <input class="AppliedLoadInput" id="LoadBalance_fatigueLoad_Fy" value="0" /> lb
                </div>
                <div class="col-xs-4">
                    <label class="pull-right">M<em>z</em></label>
                </div>
                <div class="col-xs-8">
                    <input class="AppliedLoadInput" id="LoadBalance_fatigueLoad_Mz" value="0" /> lb-in
                </div>           
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-bottom:30px;">
    <div class="col-sm-offset-2 col-sm-8">
        <h1 class="LoadBalanceHeader">Static Load Balance</h1>
    </div>
    <div class="col-sm-offset-2 col-sm-6" id="LoadBalanceModel">
        <img class="LoadBalanceModel" src="/I2ES/Images/graphic_single_hole_load_balance.svg" alt="Single-Hole Analysis Load Balance Diagram" />
        <input class="AppliedLoadInput" id="LoadBalance_staticLoad_ID1" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_staticLoad_ID2" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_staticLoad_ID3" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_staticLoad_ID4" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_staticLoad_ID5" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_staticLoad_ID6" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_staticLoad_ID7" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_staticLoad_ID8" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_staticLoad_ID9" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_staticLoad_ID10" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_staticLoad_ID11" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_staticLoad_ID12" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_staticLoad_ID13" value="0" />
        <input class="AppliedLoadInput" id="LoadBalance_staticLoad_ID14" value="0" />
    </div>
    <div class="col-sm-2" id="LoadBalanceTotals">
        <div class="JobEntryInputBox">
            <div class="JobEntryInputBoxHeader">
                <h5>Load Balance by Axis</h5>
            </div>
            <div class="row JobEntryInputBoxBody">
                <div class="col-xs-4">
                    <label class="pull-right">F<em>x</em></label>
                </div>
                <div class="col-xs-8">
                    <input class="AppliedLoadInput" id="LoadBalance_staticLoad_Fx" value="0" /> lb
                </div>
                <div class="col-xs-4">
                    <label class="pull-right">F<em>y</em></label>
                </div>
                <div class="col-xs-8">
                    <input class="AppliedLoadInput" id="LoadBalance_staticLoad_Fy" value="0" /> lb
                </div>
                <div class="col-xs-4">
                    <label class="pull-right">M<em>z</em></label>
                </div>
                <div class="col-xs-8">
                    <input class="AppliedLoadInput" id="LoadBalance_staticLoad_Mz" value="0" /> lb-in
                </div>
            </div>
        </div>
    </div>
</div>
