﻿@model I2ES.Web.Models.GeometryViewModel

<div class="row" id="SubViewDiv">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 style="padding-left: 15px;">Applied Loads: Static Bearing Loads</h1>
    </div>
</div>
<div class="row" style="padding-left: 15px; padding-right: 15px">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn1">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv1"></button>
                <h5>Bearing Load Reacted Axially: X Direction</h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv1">
                <img src="/I2ES/Images/graphic_single_hole_ab1.svg" class="AppliedLoadImage" />
                <input class="AppliedLoadInput JobEntryInput"" id="staticLoad_AB1" value="0" tabindex="1"/>
                <input class="AppliedLoadGrayedInput" id="staticLoad_AB1_1" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AB1_2" value="0" readonly />
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn2">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv2"></button>
                <h5>Axial Load Reacted Axially: -X Direction</h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv2">
                <img src="/I2ES/Images/graphic_single_hole_ab2.svg" class="AppliedLoadImage" />
                <input class="AppliedLoadInput JobEntryInput"" id="staticLoad_AB2" value="0" tabindex="2"/>
                <input class="AppliedLoadGrayedInput" id="staticLoad_AB2_1" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AB2_2" value="0" readonly />
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn3">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv3"></button>
                <h5>Bearing Load Reacted Axially: Y Direction</h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv3">
                <img src="/I2ES/Images/graphic_single_hole_ab3.svg" class="AppliedLoadImage" />
                <input class="AppliedLoadInput JobEntryInput"" id="staticLoad_AB3" value="0" tabindex="3"/>
                <input class="AppliedLoadGrayedInput" id="staticLoad_AB3_1" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AB3_2" value="0" readonly />
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-left: 15px; padding-right: 15px">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn1">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv4"></button>
                <h5>Bearing Load Reacted Axially: -Y Direction</h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv4">
                <img src="/I2ES/Images/graphic_single_hole_ab4.svg" class="AppliedLoadImage" />
                <input class="AppliedLoadInput JobEntryInput"" id="staticLoad_AB4" value="0" tabindex="4"/>
                <input class="AppliedLoadGrayedInput" id="staticLoad_AB4_1" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AB4_2" value="0" readonly />
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn2">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv5" style="padding-bottom: 25px"></button>
                <h5>
                    Bearing Load Reacted by Shear:<br />
                    X Direction w/ Top Free Edge
                </h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv5">
                <img src="/I2ES/Images/graphic_single_hole_sb1.svg" class="AppliedLoadImage" />
                <input class="AppliedLoadInput JobEntryInput"" id="staticLoad_SB1" value="0" tabindex="5"/>
                <input class="AppliedLoadGrayedInput" id="staticLoad_SB1_1" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_SB1_2" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_SB1_3" value="0" readonly />
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn3">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv6" style="padding-bottom: 25px"></button>
                <h5>
                    Bearing Load Reacted by Shear:<br />
                    X Direction w/ Bottom Free Edge
                </h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv6">
                <img src="/I2ES/Images/graphic_single_hole_sb2.svg" class="AppliedLoadImage" />
                <input class="AppliedLoadInput JobEntryInput"" id="staticLoad_SB2" value="0" tabindex="6"/>
                <input class="AppliedLoadGrayedInput" id="staticLoad_SB2_1" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_SB2_2" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_SB2_3" value="0" readonly />
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-left: 15px; padding-right: 15px">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn1">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv7" style="padding-bottom: 25px"></button>
                <h5>
                    Bearing Load Reacted by Shear:<br />
                    Y Direction w/ Right Free Edge
                </h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv7">
                <img src="/I2ES/Images/graphic_single_hole_sb3.svg" class="AppliedLoadImage" />
                <input class="AppliedLoadInput JobEntryInput"" id="staticLoad_SB3" value="0" tabindex="7"/>
                <input class="AppliedLoadGrayedInput" id="staticLoad_SB3_1" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_SB3_2" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_SB3_3" value="0" readonly />
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn2">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv8" style="padding-bottom: 25px"></button>
                <h5>
                    Bearing Load Reacted by Shear:<br />
                    Y Direction w/ Left Free Edge
                </h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv8">
                <img src="/I2ES/Images/graphic_single_hole_sb4.svg" class="AppliedLoadImage" />
                <input class="AppliedLoadInput JobEntryInput"" id="staticLoad_SB4" value="0" tabindex="8"/>
                <input class="AppliedLoadGrayedInput" id="staticLoad_SB4_1" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_SB4_2" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_SB4_3" value="0" readonly />
            </div>
        </div>
    </div>
</div>
