﻿@model I2ES.Web.Models.GeometryViewModel

<div class="row" id="SubViewDiv">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 style="padding-left: 15px;">Applied Loads: Static Axial Loads Reacted by Shear</h1>
    </div>
</div>
<div class="row" style="padding-left: 15px; padding-right: 15px">
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn1">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv1"></button>
                <h5>Axial Load: X Direction w/ Top Free Edge</h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv1">
                <img src="/I2ES/Images/graphic_single_hole_as1.svg" class="AppliedLoadImage" />
                <input class="AppliedLoadInput JobEntryInput"" id="staticLoad_AS1" value="0" tabindex="1"/>
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS1_1" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS1_2" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS1_3" value="0" readonly />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn2">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv2"></button>
                <h5>Axial Load: X Direction w/ Bottom Free Edge</h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv2">
                <img src="/I2ES/Images/graphic_single_hole_as2.svg" class="AppliedLoadImage" />
                <input class="AppliedLoadInput JobEntryInput"" id="staticLoad_AS2" value="0" tabindex="2"/>
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS2_1" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS2_2" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS2_3" value="0" readonly />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn3">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv3"></button>
                <h5>Axial Load: Y Direction w/ Right Free Edge</h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv3">
                <img src="/I2ES/Images/graphic_single_hole_as3.svg" class="AppliedLoadImage" />
                <input class="AppliedLoadInput JobEntryInput"" id="staticLoad_AS3" value="0" tabindex="3"/>
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS3_1" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS3_2" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS3_3" value="0" readonly />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn1">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv4"></button>
                <h5>Axial Load: Y Direction w/ Left Free Edge</h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv4">
                <img src="/I2ES/Images/graphic_single_hole_as4.svg" class="AppliedLoadImage" />
                <input class="AppliedLoadInput JobEntryInput"" id="staticLoad_AS4" value="0" tabindex="4"/>
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS4_1" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS4_2" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS4_3" value="0" readonly />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn2">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv5"></button>
                <h5>Axial Load: -X Direction w/ Top Free Edge</h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv5">
                <img src="/I2ES/Images/graphic_single_hole_as5.svg" class="AppliedLoadImage" />
                <input class="AppliedLoadInput JobEntryInput"" id="staticLoad_AS5" value="0" tabindex="5"/>
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS5_1" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS5_2" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS5_3" value="0" readonly />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn3">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv6"></button>
                <h5>Axial Load: -X Direction w/ Bottom Free Edge</h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv6">
                <img src="/I2ES/Images/graphic_single_hole_as6.svg" class="AppliedLoadImage" />
                <input class="AppliedLoadInput JobEntryInput"" id="staticLoad_AS6" value="0" tabindex="6"/>
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS6_1" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS6_2" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS6_3" value="0" readonly />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn1">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv7"></button>
                <h5>Axial Load: -Y Direction w/ Right Free Edge</h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv7">
                <img src="/I2ES/Images/graphic_single_hole_as7.svg" class="AppliedLoadImage" />
                <input class="AppliedLoadInput JobEntryInput"" id="staticLoad_AS7" value="0" tabindex="7"/>
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS7_1" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS7_2" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS7_3" value="0" readonly />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="JobEntryInputBox AppliedLoadBox AppliedLoadColumn2">
            <div class="JobEntryInputBoxHeader">
                <button class="JobEntryInputBoxTwisty btn" data-toggle="collapse" data-target="#CollapseDiv8"></button>
                <h5>Axial Load: -Y Direction w/ Left Free Edge</h5>
            </div>
            <div class="AppliedLoadInputBoxBody in" id="CollapseDiv8">
                <img src="/I2ES/Images/graphic_single_hole_as8.svg" class="AppliedLoadImage" />
                <input class="AppliedLoadInput JobEntryInput"" id="staticLoad_AS8" value="0" tabindex="8"/>
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS8_1" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS8_2" value="0" readonly />
                <input class="AppliedLoadGrayedInput" id="staticLoad_AS8_3" value="0" readonly />
            </div>
        </div>
    </div>
</div>
