﻿<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
@using System.Reflection
@using I2ES.Services.Identity;
@using I2ES.Web.Controllers

<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ISAMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/colorbox")
    @RenderSection("other", required: false)
    <link rel="icon" href="/I2ES/favicon.ico"/>
</head>

<body>

<header>
<div class="container">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 pull-left" style="min-height: 105px;">
            <img src="/I2ES/Images/logo_navair_seal.png" style="padding-right: 1em;" class="img-responsive" alt="Naval Systems Air Command Logo"/>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 pull-left" style="min-height: 105px;">
            <img src="/I2ES/Images/graphic_fa-18_silhouette.png" style="padding-left: 1em; border-left: solid 2px #FFF;" class="img-responsive" alt="F/A-18 Silhouette Graphic" />
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 col-md-offset-1 col-lg-offset-4" style="min-height: 105px;">
            <img src="/I2ES/Images/logo_iSAMS_v1.5.png"  class="img-responsive pull-right" alt="iSAMS Logo"/>
        </div>
    </div>

    <div class="row NavBarRow">
        <div class="col-md-6 col-lg-6 pull-left">
            <h3>Hello, @ISAMSIdentity.GetFullName(User) </h3>
        </div>
        <div class="col-md-6 col-lg-6 pull-right">
            <nav role="navigation" class="navbar navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="sr-only">Toggle navigation</span>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-right navbar-nav">
                        <li><a href="#" id="AlertiSAMSPlatform">ISAMS PLATFORM</a></li>
                        <li>@Html.ActionLink("F/A-18 PLATFORM", "Index", "Home")</li>
                        <li><a href="#" id="AlertJobCentral">JOB CENTRAL</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
</header>
<div class="wrapper">
    <div class="container body-content">

        @RenderBody()
        
    </div>
</div>

<footer>
    <div class="container">
        <div class="col-lg-5 col-md-5">
            <img src="/I2ES/Images/graphic_funded_by_ONR.png" style="height: 91px; width: 167px;" alt="Funded by Department of the Navy ONR Science and Technology"/>
            <img src="/I2ES/Images/graphic_powered_by_stresscheck.png" style="height: 67px; width: 207px; margin-left: 30px; vertical-align: top;" alt="Powered by StressCheck"/>
            
            
        </div>
        <div class="col-lg-7 col-md-7 pull-right">

            <nav role="navigation" class="pull-right">
                <a href="#" id="AlertiSAMSPlatform">iSAMS Platform</a> &nbsp;|&nbsp;
                @Html.ActionLink("F/A-18 Dashboard", "Index", "Home") &nbsp;|&nbsp;
                <a href="#" id="AlertJobCentral">Job Central</a> &nbsp;|&nbsp;
                <a href="#" id="AlertFAQ">FAQ/Instructions</a> &nbsp;|&nbsp;
                <a href="#" id="AlertAdvancedSearch">Advanced Search</a>
            </nav>
            <p class="pull-right">The contents of this website are copyright &copy; 2015 Naval Air Systems Command and ESRD, Inc. All rights reserved.</p>
        </div>
    </div>
    <div class="VersionNumber">
        <span>Version: @Assembly.GetAssembly(typeof(HomeController)).GetName().Version.ToString()</span>
    </div>
</footer>
    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
