﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>iSAMS Instructions and Frequently Asked Questions</h1>
<p>This page will feature detailed instructions for creating and editing jobs using iSAMS. As we get questions about how to use the system, we will answer them here as well. This page's content is coming soon.</p>

