﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ISAMS</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/jquery-ui-1.11.4.custom.blue/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.src.js"></script>
    <link href="~/Content/I2ES.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Controllers/Layout.js"></script>
    <script src="~/Controllers/I2ES.js"></script>
    <script></script>
    @*        <link href="~/Content/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" />*@
    @*    @Styles.Render("~/Content/css")*@
    @*    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div id="bodyWrapper" style="margin: 5px">
        <div class="header-bar" style="background: #6e92b2; z-index: 2147483647; margin-bottom: 15px">
            <div id="imageGlobeWrapper" class="navy-globe" style="margin-left: 5px; margin-top: 5px">
                <img  style="height: 78px; width: 260px; " src="~/Images/americas-navy-globe.png" />
            </div>
            <div id="ButtonBar" class="button-bar" style="margin-bottom: 15px">
                <button id="buttonHome">Home</button>
                <button id="buttonglobalLoads">Global Loads</button>
                <button id="buttonReviewResults">Review Results</button>
                <button id="buttonManageJobs">Manage Jobs</button>
            </div>
        </div>

        <div id="MainBody" class="main-body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - ESRD</p>
                </div>
            </div>
        </footer>
    </div>
    @*    @Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>
</html>
