﻿@model I2ES.Model.DomainModel.ISAMSModel
@Scripts.Render("~/Controllers/AllJobController.js")
@{
    ViewBag.Title = "Review Results";
}

<h2>Review Results</h2>
@*<div style="margin-bottom:5px">*@
@*    <button id="buttonRefresh" onclick=" reloadGrid(); ">Refresh</button>*@
@*</div>*@
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
<div id="dialog" title="I2ES" style="display: none;">
    Please choose a Job to edit.
</div>
