﻿@*<script src="~/Controllers/JobController.js"></script>*@
@Scripts.Render("~/Controllers/JobController.js")
@model I2ES.Model.DomainModel.ISAMSModel

@{
    ViewBag.Title = "Index";
}

<form id="dataForm" action="/i2esdemo/Parameter/AddParametersToNewJob" method="POST">
    <div class="bodyElementContainer" style="position: relative; padding-top: 30px">
        <table width="1024px">
            <tr>
                <td valign="top">
                    <table>
                        <tr>
                            <td style="width: 200px" colspan="2">
                                <div id="jobTypeSelectorContainer">
                                    <select id="jobType" name="ModelTypeId"></select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <select id="selectStructureType" name="selectStructureType">
                                    <option>Choose a Structure Type</option>
                                    <option>Metal</option>
                                    <option>Composite</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <select id="selectModel" name="selectModel">
                                    <option>Choose an Aircraft Model</option>
                                    <option>F/A-18A</option>
                                    <option>F/A-18B</option>
                                    <option>F/A-18C</option>
                                    <option>F/A-18D</option>
                                    <option>F/A-18E</option>
                                    <option>F/A-18F</option>
                                    <option>F/A-18G</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <select id="selectMaterial" name="selectMaterial">
                                    <option>Choose a Material</option>
                                    <option value='{"E-value":"10.6","Nu-value":"0.33"}'>AL-2024-T851</option>
                                    <option value='{"E-value":"10.4","Nu-value":"0.33"}'>AL-2124-T851</option>
                                    <option value='{"E-value":"10.6","Nu-value":"0.33"}'>AL-2024-T62</option>
                                    <option value='{"E-value":"10.5","Nu-value":"0.33"}'>AL-2024-T6</option>
                                    <option value='{"E-value":"10.2","Nu-value":"0.33"}'>AL-7075-T73</option>
                                    <option value='{"E-value":"10.35","Nu-value":"0.33"}'>AL-7075-T76</option>
                                    <option value='{"E-value":"10.2","Nu-value":"0.33"}'>AL-7075-T6</option>
                                    <option value='{"E-value":"10.2","Nu-value":"0.33"}'>AL-7175-T74</option>
                                    <option value='{"E-value":"10.2","Nu-value":"0.33"}'>AL-7050-T74</option>
                                    <option value='{"E-value":"16.45","Nu-value":"0.31"}'>TI-6Al-4V</option>
                                    <option value='{"E-value":"16","Nu-value":"0.31"}'>TI-6Al-6V-2Sn</option>
                                    <option value='{"E-value":"29","Nu-value":"0.32"}'>ST-4340</option>
                                    <option value='{"E-value":"29.4","Nu-value":"32"}'>ST-AF1410</option>
                                    <option value='{"E-value":"28.3","Nu-value":"0.28"}'>ST-Ph13-8Mo</option>
                                    <option value='{"E-value":"28.5","Nu-value":"0.27"}'>ST-15-5Ph</option>
                                    <option value='{"E-value":"29","Nu-value":"0.28"}'>ST-PH15-7Mo</option>
                                    <option value='{"E-value":"28.5","Nu-value":"0.27"}'>ST-17-4Ph</option>
                                    <option value='{"E-value":"28.5","Nu-value":"0.3"}'>ST-9Ni-4Co-.30C</option>
                                    <option value='{"E-value":"28.8","Nu-value":"0.3"}'>ST-9Ni-4Co-.20C</option>
                                    <option value='{"E-value":"28","Nu-value":"0.305"}'>ST-AERMET 100</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="data-input-tr">
                            <td colspan="3">
                                <table width="75%">
                                    <tr>
                                        <td>E</td>
                                        <td>nu</td>
                                    </tr>
                                    <tr>
                                        <td><input id="tdevalue" name="e" disabled="disabled"></td>
                                        <td><input id="tdnuvalue" name="nu" disabled="disabled"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="data-input-tr">
                            <td>REI Number:</td>
                            <td class="data-input-inputdiv">
                                <input name="REINumber" class="data-input-inputtag" />
                            </td>
                        </tr>
                        <tr class="data-input-tr">
                            <td>BUNO:</td>
                            <td>
                                <input name="BUNO" class="data-input-inputtag" />
                            </td>
                        </tr>
                        <tr class="data-input-tr">
                            <td>Part Number</td>
                            <td>
                                <input name="PartNumber" class="data-input-inputtag" />
                            </td>
                        </tr>
                    </table>
                </td>
                <td align="right">
                    <img height="250" width="480" id="jobTypeImage" src="~/Images/confused.jpg" />
                </td>
            </tr>
        </table>
    </div>
    <div style="padding-top: 25px">
        <button id="buttonNext">Next</button>
    </div>
    <div id="jobTypeImageContainer"></div>
</form>
