﻿/* --- Applied Loads Input Boxes --- */
#fatigueLoad_BYP1 {
    position: absolute;
    left: 82%;
    top: 59%;
    transform: translate(-18%, -41%);
}
#fatigueLoad_BYP1_1 {
    position: absolute;
    left: 17%;
    top: 41%;
    transform: translate(-81%, -59%);
}
#fatigueLoad_BYP2 {
    position: absolute;
    left: 60%;
    top: 12%;
    transform: translate(-40%, -88%);
}
#fatigueLoad_BYP2_1 {
    position: absolute;
    left: 40%;
    top: 88%;
    transform: translate(-60%, -12%);
}
#fatigueLoad_BYP3 {
    position: absolute;
    left: 79%;
    top: 8%;
    transform: translate(-21%, -92%);
}
#fatigueLoad_BYP3_1 {
    position: absolute;
    left: 84%;
    top: 21%;
    transform: translate(-16%, -79%);
}
#fatigueLoad_BYP3_2 {
    position: absolute;
    left: 16%;
    top: 79%;
    transform: translate(-84%, -21%);
}
#fatigueLoad_BYP3_3 {
    position: absolute;
    left: 20%;
    top: 90%;
    transform: translate(-80%, -10%);
}
#fatigueLoad_AS1 {
    position: absolute;
    left: 83%;
    top: 58%;
    transform: translate(-17%, -42%);
}
#fatigueLoad_AS1_1 {
    position: absolute;
    left: 83%;
    top: 14%;
    transform: translate(-17%, -86%);
}
#fatigueLoad_AS1_2 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
#fatigueLoad_AS1_3 {
    position: absolute;
    left: 21%;
    top: 90%;
    transform: translate(-79%, -10%);
}
#fatigueLoad_AS2 {
    position: absolute;
    left: 83%;
    top: 58%;
    transform: translate(-17%, -42%);
}
#fatigueLoad_AS2_1 {
    position: absolute;
    left: 79%;
    top: 9%;
    transform: translate(-21%, -91%);
}
#fatigueLoad_AS2_2 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#fatigueLoad_AS2_3 {
    position: absolute;
    left: 18%;
    top: 86%;
    transform: translate(-82%, -14%);
}
#fatigueLoad_AS3 {
    position: absolute;
    left: 60%;
    top: 9%;
    transform: translate(-40%, -91%);
}
#fatigueLoad_AS3_1 {
    position: absolute;
    left: 79%;
    top: 9%;
    transform: translate(-21%, -91%);
}
#fatigueLoad_AS3_2 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
#fatigueLoad_AS3_3 {
    position: absolute;
    left: 21%;
    top: 90%;
    transform: translate(-79%, -10%);
}
#fatigueLoad_AS4 {
    position: absolute;
    left: 60%;
    top: 9%;
    transform: translate(-40%, -91%);
}
#fatigueLoad_AS4_1 {
    position: absolute;
    left: 79%;
    top: 9%;
    transform: translate(-21%, -91%);
}
#fatigueLoad_AS4_2 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#fatigueLoad_AS4_3 {
    position: absolute;
    left: 21%;
    top: 90%;
    transform: translate(-79%, -10%);
}
#fatigueLoad_AS5 {
    position: absolute;
    left: 16%;
    top: 40%;
    transform: translate(-84%, -60%);
}
#fatigueLoad_AS5_1 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#fatigueLoad_AS5_2 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
#fatigueLoad_AS5_3 {
    position: absolute;
    left: 21%;
    top: 90%;
    transform: translate(-79%, -10%);
}
#fatigueLoad_AS6 {
    position: absolute;
    left: 16%;
    top: 40%;
    transform: translate(-84%, -60%);
}
#fatigueLoad_AS6_1 {
    position: absolute;
    left: 79%;
    top: 9%;
    transform: translate(-21%, -91%);
}
#fatigueLoad_AS6_2 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#fatigueLoad_AS6_3 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
#fatigueLoad_AS7 {
    position: absolute;
    left: 40%;
    top: 90%;
    transform: translate(-60%, -10%);
}
#fatigueLoad_AS7_1 {
    position: absolute;
    left: 79%;
    top: 9%;
    transform: translate(-21%, -91%);
}
#fatigueLoad_AS7_2 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
#fatigueLoad_AS7_3 {
    position: absolute;
    left: 21%;
    top: 90%;
    transform: translate(-79%, -10%);
}
#fatigueLoad_AS8 {
    position: absolute;
    left: 40%;
    top: 90%;
    transform: translate(-60%, -10%);
}
#fatigueLoad_AS8_1 {
    position: absolute;
    left: 79%;
    top: 9%;
    transform: translate(-21%, -91%);
}
#fatigueLoad_AS8_2 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#fatigueLoad_AS8_3 {
    position: absolute;
    left: 21%;
    top: 90%;
    transform: translate(-79%, -10%);
}
#fatigueLoad_AB1 {
    position: absolute;
    left: 62%;
    top: 60%;
    transform: translate(-38%, -40%);
}
#fatigueLoad_AB1_1 {
    position: absolute;
    left: 16%;
    top: 41%;
    transform: translate(-84%, -59%);
}
#fatigueLoad_AB1_2 {
    position: absolute;
    left: 16%;
    top: 72%;
    transform: translate(-84%, -28%);
}
#fatigueLoad_AB2 {
    position: absolute;
    left: 62%;
    top: 60%;
    transform: translate(-38%, -40%);
}
#fatigueLoad_AB2_1 {
    position: absolute;
    left: 84%;
    top: 41%;
    transform: translate(-14%, -59%);
}
#fatigueLoad_AB2_2 {
    position: absolute;
    left: 84%;
    top: 72%;
    transform: translate(-16%, -28%);
}
#fatigueLoad_AB3 {
    position: absolute;
    left: 62%;
    top: 28%;
    transform: translate(-38%, -72%);
}
#fatigueLoad_AB3_1 {
    position: absolute;
    left: 40%;
    top: 90%;
    transform: translate(-59%, -10%);
}
#fatigueLoad_AB3_2 {
    position: absolute;
    left: 65%;
    top: 90%;
    transform: translate(-35%, -10%);
}
#fatigueLoad_AB4 {
    position: absolute;
    left: 62%;
    top: 28%;
    transform: translate(-38%, -72%);
}
#fatigueLoad_AB4_1 {
    position: absolute;
    left: 30%;
    top: 12%;
    transform: translate(-70%, -88%);
}
#fatigueLoad_AB4_2 {
    position: absolute;
    left: 62%;
    top: 8%;
    transform: translate(-38%, -92%);
}
#fatigueLoad_SB1 {
    position: absolute;
    left: 62%;
    top: 60%;
    transform: translate(-38%, -40%);
}
#fatigueLoad_SB1_1 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#fatigueLoad_SB1_2 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
#fatigueLoad_SB1_3 {
    position: absolute;
    left: 21%;
    top: 90%;
    transform: translate(-79%, -10%);
}
#fatigueLoad_SB2 {
    position: absolute;
    left: 62%;
    top: 60%;
    transform: translate(-38%, -40%);
}
#fatigueLoad_SB2_1 {
    position: absolute;
    left: 79%;
    top: 9%;
    transform: translate(-21%, -91%);
}
#fatigueLoad_SB2_2 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#fatigueLoad_SB2_3 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
#fatigueLoad_SB3 {
    position: absolute;
    left: 62%;
    top: 28%;
    transform: translate(-38%, -72%);
}
#fatigueLoad_SB3_1 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#fatigueLoad_SB3_2 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
#fatigueLoad_SB3_3 {
    position: absolute;
    left: 21%;
    top: 90%;
    transform: translate(-79%, -10%);
}
#fatigueLoad_SB4 {
    position: absolute;
    left: 62%;
    top: 28%;
    transform: translate(-38%, -72%);
}
#fatigueLoad_SB4_1 {
    position: absolute;
    left: 79%;
    top: 9%;
    transform: translate(-21%, -91%);
}
#fatigueLoad_SB4_2 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#fatigueLoad_SB4_3 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
#staticLoad_BYP1 {
    position: absolute;
    left: 82%;
    top: 59%;
    transform: translate(-18%, -41%);
}
#staticLoad_BYP1_1 {
    position: absolute;
    left: 17%;
    top: 41%;
    transform: translate(-81%, -59%);
}
#staticLoad_BYP2 {
    position: absolute;
    left: 60%;
    top: 12%;
    transform: translate(-40%, -88%);
}
#staticLoad_BYP2_1 {
    position: absolute;
    left: 40%;
    top: 88%;
    transform: translate(-60%, -12%);
}
#staticLoad_BYP3 {
    position: absolute;
    left: 79%;
    top: 8%;
    transform: translate(-21%, -92%);
}
#staticLoad_BYP3_1 {
    position: absolute;
    left: 84%;
    top: 21%;
    transform: translate(-16%, -79%);
}
#staticLoad_BYP3_2 {
    position: absolute;
    left: 16%;
    top: 79%;
    transform: translate(-84%, -21%);
}
#staticLoad_BYP3_3 {
    position: absolute;
    left: 20%;
    top: 90%;
    transform: translate(-80%, -10%);
}
#staticLoad_AS1 {
    position: absolute;
    left: 83%;
    top: 58%;
    transform: translate(-17%, -42%);
}
#staticLoad_AS1_1 {
    position: absolute;
    left: 83%;
    top: 14%;
    transform: translate(-17%, -86%);
}
#staticLoad_AS1_2 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
#staticLoad_AS1_3 {
    position: absolute;
    left: 21%;
    top: 90%;
    transform: translate(-79%, -10%);
}
#staticLoad_AS2 {
    position: absolute;
    left: 83%;
    top: 58%;
    transform: translate(-17%, -42%);
}
#staticLoad_AS2_1 {
    position: absolute;
    left: 79%;
    top: 9%;
    transform: translate(-21%, -91%);
}
#staticLoad_AS2_2 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#staticLoad_AS2_3 {
    position: absolute;
    left: 18%;
    top: 86%;
    transform: translate(-82%, -14%);
}
#staticLoad_AS3 {
    position: absolute;
    left: 60%;
    top: 9%;
    transform: translate(-40%, -91%);
}
#staticLoad_AS3_1 {
    position: absolute;
    left: 79%;
    top: 9%;
    transform: translate(-21%, -91%);
}
#staticLoad_AS3_2 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
#staticLoad_AS3_3 {
    position: absolute;
    left: 21%;
    top: 90%;
    transform: translate(-79%, -10%);
}
#staticLoad_AS4 {
    position: absolute;
    left: 60%;
    top: 9%;
    transform: translate(-40%, -91%);
}
#staticLoad_AS4_1 {
    position: absolute;
    left: 79%;
    top: 9%;
    transform: translate(-21%, -91%);
}
#staticLoad_AS4_2 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#staticLoad_AS4_3 {
    position: absolute;
    left: 21%;
    top: 90%;
    transform: translate(-79%, -10%);
}
#staticLoad_AS5 {
    position: absolute;
    left: 16%;
    top: 40%;
    transform: translate(-84%, -60%);
}
#staticLoad_AS5_1 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#staticLoad_AS5_2 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
#staticLoad_AS5_3 {
    position: absolute;
    left: 21%;
    top: 90%;
    transform: translate(-79%, -10%);
}
#staticLoad_AS6 {
    position: absolute;
    left: 16%;
    top: 40%;
    transform: translate(-84%, -60%);
}
#staticLoad_AS6_1 {
    position: absolute;
    left: 79%;
    top: 9%;
    transform: translate(-21%, -91%);
}
#staticLoad_AS6_2 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#staticLoad_AS6_3 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
#staticLoad_AS7 {
    position: absolute;
    left: 40%;
    top: 90%;
    transform: translate(-60%, -10%);
}
#staticLoad_AS7_1 {
    position: absolute;
    left: 79%;
    top: 9%;
    transform: translate(-21%, -91%);
}
#staticLoad_AS7_2 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
#staticLoad_AS7_3 {
    position: absolute;
    left: 21%;
    top: 90%;
    transform: translate(-79%, -10%);
}
#staticLoad_AS8 {
    position: absolute;
    left: 40%;
    top: 90%;
    transform: translate(-60%, -10%);
}
#staticLoad_AS8_1 {
    position: absolute;
    left: 79%;
    top: 9%;
    transform: translate(-21%, -91%);
}
#staticLoad_AS8_2 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#staticLoad_AS8_3 {
    position: absolute;
    left: 21%;
    top: 90%;
    transform: translate(-79%, -10%);
}
#staticLoad_AB1 {
    position: absolute;
    left: 62%;
    top: 60%;
    transform: translate(-38%, -40%);
}
#staticLoad_AB1_1 {
    position: absolute;
    left: 16%;
    top: 41%;
    transform: translate(-84%, -59%);
}
#staticLoad_AB1_2 {
    position: absolute;
    left: 16%;
    top: 72%;
    transform: translate(-84%, -28%);
}
#staticLoad_AB2 {
    position: absolute;
    left: 62%;
    top: 60%;
    transform: translate(-38%, -40%);
}
#staticLoad_AB2_1 {
    position: absolute;
    left: 84%;
    top: 41%;
    transform: translate(-14%, -59%);
}
#staticLoad_AB2_2 {
    position: absolute;
    left: 84%;
    top: 72%;
    transform: translate(-16%, -28%);
}
#staticLoad_AB3 {
    position: absolute;
    left: 62%;
    top: 28%;
    transform: translate(-38%, -72%);
}
#staticLoad_AB3_1 {
    position: absolute;
    left: 40%;
    top: 90%;
    transform: translate(-59%, -10%);
}
#staticLoad_AB3_2 {
    position: absolute;
    left: 65%;
    top: 90%;
    transform: translate(-35%, -10%);
}
#staticLoad_AB4 {
    position: absolute;
    left: 62%;
    top: 28%;
    transform: translate(-38%, -72%);
}
#staticLoad_AB4_1 {
    position: absolute;
    left: 30%;
    top: 12%;
    transform: translate(-70%, -88%);
}
#staticLoad_AB4_2 {
    position: absolute;
    left: 62%;
    top: 8%;
    transform: translate(-38%, -92%);
}
#staticLoad_SB1 {
    position: absolute;
    left: 62%;
    top: 60%;
    transform: translate(-38%, -40%);
}
#staticLoad_SB1_1 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#staticLoad_SB1_2 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
#staticLoad_SB1_3 {
    position: absolute;
    left: 21%;
    top: 90%;
    transform: translate(-79%, -10%);
}
#staticLoad_SB2 {
    position: absolute;
    left: 62%;
    top: 60%;
    transform: translate(-38%, -40%);
}
#staticLoad_SB2_1 {
    position: absolute;
    left: 79%;
    top: 9%;
    transform: translate(-21%, -91%);
}
#staticLoad_SB2_2 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#staticLoad_SB2_3 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
#staticLoad_SB3 {
    position: absolute;
    left: 62%;
    top: 28%;
    transform: translate(-38%, -72%);
}
#staticLoad_SB3_1 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#staticLoad_SB3_2 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
#staticLoad_SB3_3 {
    position: absolute;
    left: 21%;
    top: 90%;
    transform: translate(-79%, -10%);
}
#staticLoad_SB4 {
    position: absolute;
    left: 62%;
    top: 28%;
    transform: translate(-38%, -72%);
}
#staticLoad_SB4_1 {
    position: absolute;
    left: 79%;
    top: 9%;
    transform: translate(-21%, -91%);
}
#staticLoad_SB4_2 {
    position: absolute;
    left: 84%;
    top: 18%;
    transform: translate(-16%, -82%);
}
#staticLoad_SB4_3 {
    position: absolute;
    left: 16%;
    top: 80%;
    transform: translate(-84%, -20%);
}
/* --- Load Balance --- */
#LoadBalance_fatigueLoad_ID1 {
    left:55%;
    top:34%;
    transform: translate(-45%, -66%);
}
#LoadBalance_fatigueLoad_ID2 {
    left:62%;
    top:45%;
    transform: translate(-48%, -65%);
}
#LoadBalance_fatigueLoad_ID3 {
    left: 35%;
    top: 13%;
    transform: translate(-65%, -87%);
}
#LoadBalance_fatigueLoad_ID4 {
    left:50%;
    top:6%;
    transform: translate(-50%, -94%);
}
#LoadBalance_fatigueLoad_ID5 {
    left:72%;
    top:18%;
    transform: translate(-28%, -82%);
}
#LoadBalance_fatigueLoad_ID6 {
    left:76%;
    top:25%;
    transform: translate(-24%, -75%);
}
#LoadBalance_fatigueLoad_ID7 {
    left:80%;
    top:34%;
    transform: translate(-20%, -66%);
}
#LoadBalance_fatigueLoad_ID8 {
    left:15%;
    top:50%;
    transform: translate(-85%, -50%);
}
#LoadBalance_fatigueLoad_ID9 {
    left:85%;
    top:50%;
    transform: translate(-15%, -50%);
}
#LoadBalance_fatigueLoad_ID10 {
    left:20%;
    top:66%;
    transform: translate(-80%, -34%);
}
#LoadBalance_fatigueLoad_ID11 {
    left:23%;
    top:76%;
    transform: translate(-77%, -24%);
}
#LoadBalance_fatigueLoad_ID12 {
    left:28%;
    top:83%;
    transform: translate(-72%, -27%);
}
#LoadBalance_fatigueLoad_ID13 {
    left:50%;
    top:94%;
    transform: translate(-50%, -6%);
}
#LoadBalance_fatigueLoad_ID14 {
    left:65%;
    top:87%;
    transform: translate(-35%, -13%);
}
#LoadBalance_staticLoad_ID1 {
    left:55%;
    top:34%;
    transform: translate(-45%, -66%);
}
#LoadBalance_staticLoad_ID2 {
    left:62%;
    top:45%;
    transform: translate(-48%, -65%);
}
#LoadBalance_staticLoad_ID3 {
    left: 35%;
    top: 13%;
    transform: translate(-65%, -87%);
}
#LoadBalance_staticLoad_ID4 {
    left:50%;
    top:6%;
    transform: translate(-50%, -94%);
}
#LoadBalance_staticLoad_ID5 {
    left:72%;
    top:18%;
    transform: translate(-28%, -82%);
}
#LoadBalance_staticLoad_ID6 {
    left:76%;
    top:25%;
    transform: translate(-24%, -75%);
}
#LoadBalance_staticLoad_ID7 {
    left:80%;
    top:34%;
    transform: translate(-20%, -66%);
}
#LoadBalance_staticLoad_ID8 {
    left:15%;
    top:50%;
    transform: translate(-85%, -50%);
}
#LoadBalance_staticLoad_ID9 {
    left:85%;
    top:50%;
    transform: translate(-15%, -50%);
}
#LoadBalance_staticLoad_ID10 {
    left:20%;
    top:66%;
    transform: translate(-80%, -34%);
}
#LoadBalance_staticLoad_ID11 {
    left:23%;
    top:76%;
    transform: translate(-77%, -24%);
}
#LoadBalance_staticLoad_ID12 {
    left:28%;
    top:83%;
    transform: translate(-72%, -27%);
}
#LoadBalance_staticLoad_ID13 {
    left:50%;
    top:94%;
    transform: translate(-50%, -6%);
}
#LoadBalance_staticLoad_ID14 {
    left:65%;
    top:87%;
    transform: translate(-35%, -13%);
}
