﻿/* --- Global Styles --- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 150px;
    background-color: #9DAFB3;
    font-family: 'Calibri', 'Helvetica Neue', 'Arial', 'sans-serif';
    color: #000;
}
header {
    height: 190px;
    background: url(/I2ES/Images/background_header.png);
    background-repeat: repeat-x;
    background-color: #8596A0;
    padding-top: 20px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #8596A0;
    padding-top: 30px;
    padding-bottom: 30px;
}
p {
    font-size: 12pt;
}
a {
    color: #0a3782;
}
h1 {
    font-weight: bold;
    font-size: 18pt;
    color: #0A3782;
}
h3, h3 a {
    font-size: 14pt;
}
.wrapper {
    overflow:hidden;
}
.container, .body-content {
    padding-left: 0;
    padding-right: 0;
}
.body-content {

}
.dl-horizontal dt {
    white-space: normal;
}
input, select, textarea {
/*    max-width: 280px; */
}
footer nav, footer nav a {
    color: #FFF;
    font-size: 12.5pt;
}
footer p {
    font-size: 10pt;
    color: #D1D4D3;
    margin-top: 53px;
}
.VersionNumber {
    position:absolute;
    bottom: 5px;
    right: 20px;
}
.VersionNumber span {
    color:#5E6A71;
    font-size:10pt;
}

/* --- F/A-18 Platform New Job Menu --- */
.FA18PlatformNewJobMenu table {
    background-color: #8596A0;
    border-top: solid 10px #8596A0;
}
#FA18PlatformNewJobMenu h2 {
    margin: 0;
    font-weight: bold;
    font-size: 18pt;
    color: #5E6A71;
    line-height: 72px;
    margin: 0;
    padding: 0 0 0 25px;
}
#FA18PlatformNewJobMenu h2 a {
    color: #FFF;
}
#FA18PlatformNewJobMenu table td {
    padding: 5px;
    vertical-align: middle;
    border-bottom: solid 10px #8596A0; 
    background-color: #96A7AB;
    border-top: none;
}
#FA18PlatformNewJobMenu table tr {
    border-left: solid 10px #8596A0;
    border-right: solid 10px #8596A0;
}
#FA18PlatformNewJobMenu table td img {
    height: 72px;
    width: 72px;
}

/* --- F/A-18 Platform Job Table --- */
#FA18PlatformJobList {
    clear: both;
}
#FA18PlatformJobList table {
    border-top: solid 3px #8596A0;
    border-right: solid 10px #8596A0;
    border-bottom: solid 10px #8596A0;
    border-left: solid 10px #8596A0;
    margin-bottom: 0px;
    border-collapse: separate;
}
#FA18PlatformJobList table th {
    background-color: #8596a0;
    text-align: center;
    font-weight: normal;
    font-size: 11pt;
    border-top: none;
}
#FA18PlatformJobList table td {
    border-top:solid 1px #B0C5C9;
    border-right:solid 1px #B0C5C9;
    background-color: #FFF;
    padding: 2px;
}
#FA18PlatformJobList .JobTableOddRow td {
    background-color: #D1D4D3;
}
#FA18PlatformJobList table td img {
    height: 27px;
    width: 27px;
}
.FA18PlatformNewJobMenu {
    display: inline-block;
    position: relative;
    float: right;
    background: url(/I2ES/Images/background_navbar.png) right;
    background-repeat: no-repeat;
    background-color: #8596A0;
    width: 100%;
    border-bottom: solid 5px #96A7AB;
}
button#FA18PlatformNewJobsButton, button#FA18PlatformSubmittedJobsButton {
    background: linear-gradient(rgba(94, 106, 113, 0.8), rgba(133, 150, 160, 0.8), rgba(94, 106, 113, 0.8));
    height: 30px;
    border-left: solid 5px #96A7AB;
    border-right: none;
    border-top: none;
    border-bottom: none;
    color: #FFF;
}
#FA18PlatformNewJobsButton:active, #FA18PlatformNewJobsButton:hover, #FA18PlatformSubmittedJobsButton:active, #FA18PlatformSubmittedJobsButton:hover {
    background: linear-gradient(rgba(133, 150, 160, 0.7), rgba(150, 169, 180, 0.7), rgba(133, 150, 160, 0.7));
}
#FA18PlatformNewJobsButton {
    width: 25%;
    float: right;
}
#FA18PlatformSubmittedJobsButton {
    width: 25%;
    float: right;
}

/* --- Top Navigation --- */
.NavBarRow {
    margin-top: 25px;
}
.NavBarRow h3 {
    margin-bottom: 0;
    margin-top: 11px;
}
.navbar {
    border-radius: 0;
    min-height: 40px;
    margin-bottom: 0px;
}
.navbar-default {
    background-color: transparent;
    background: url(/I2ES/Images/background_navbar.png);
    background-position: right;
    background-repeat: no-repeat;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right:solid 5px #96A7AB;
    margin-right:-5px;
}

.navbar-nav > li > a {
    line-height: 40px;
    padding: 0 14px;
    color: #FFF !important;
}
.navbar-nav > li {
    border-left: solid 5px #96A7AB;
}
.navbar-nav > li:active, .navbar-nav li:hover {
    background: linear-gradient(rgba(133, 150, 160, 0.7), rgba(150, 169, 180, 0.7), rgba(133, 150, 160, 0.7));
}
.navbar-collapse .navbar-nav.navbar-right:last-child {

}
.navbar-toggle {
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #96A7AB;
}
.navbar-collapse {
    min-width: 235px;
    background: none;
    border-top: none;
    box-shadow: none;
}

/* --- F/A-18 Platform Search Box --- */
.FA18PlatformSearch {
    background: linear-gradient( rgba(133,150,160,0.8),rgba(157,179,179,0.6));
    padding: 20px 20px 30px 30px;
}
.FA18PlatformSearchselect {
    width: 30%;
    line-height: 35px;
    font-size: 14pt;
    border: solid 3px #8596A0;
}
.FA18PlatformSearch input {
    width: 90%;
    height: 35px;
    line-height: 27px;
    border: solid 3px #8596A0;
    vertical-align: middle;
    margin-bottom: 0;
}
.FA18PlatformSearch button {
    height: 35px;
    width: 35px;
    padding:;
    margin: auto auto;
    border-top: solid 3px #8596A0;
    border-right: solid 3px #8596A0;
    border-bottom: solid 3px #8596A0;
    border-left: 0;
    vertical-align: middle;
    background: linear-gradient(rgba(94, 106, 113, 0.8), rgba(133, 150, 160, 0.8), rgba(94, 106, 113, 0.8));
}
.FA18PlatformSearch button:active, .searchFP button:hover {
    background: linear-gradient(rgba(133, 150, 160, 0.7), rgba(150, 169, 180, 0.7), rgba(133, 150, 160, 0.7));
}
.FA18PlatformSearch button span {
    padding:0;
    color: #FFF;
}
.FA18PlatformAdvancedSearchLink {
    font-size: 12pt;
}

/* --- Job Entry --- */
.JobEntryBasicInformation {
    margin-top: 20px;
    border: solid 5px #8596A0;
    background-color: #96a7ab;
    padding: 0;
    display: block;
}
.JobEntryBasicRow {
    padding: 0 15px;
}
.JobEntryBasicInformation input, .JobEntryBasicInformation select {
     width: 75%;
     padding-left:5px;
}
.JobEntryBasicInformation label {
    line-height: 38px;
    margin-bottom: 0;
}
.JobIDDisplay {
    text-align: center;
    border-right:none;
}
.JobIDDisplay label, .JobIDDisplay span {
    line-height: 38px;
    margin-bottom: 0;
}
.JobIDDisplay span {
    font-weight: bold;
    color: #FFF;
}
.JobEntryTextBox, .JobEntrySelect {
    height: 30px;
    line-height: 24px;
    border: solid 3px #8596A0;
    vertical-align: middle;
    margin:5px 0;
}
.JobEntryInputBox {
    border: solid 5px #8596A0;
    background-color: #96a7ab;
    margin-top:10px;
}
.JobEntryInputBox label, .JobEntryInputBox span {
    text-align: right;
    float: right;
    font-weight: normal;
    font-size: 11pt;
    line-height: 40px;
    margin-bottom: 0;
}
.JobEntryInputBox input {
    width: 85%;
    padding-left:5px;
}
.JobEntryInputBox select {
    width: 90%;
}
.JobEntryInputBoxHeader h5 {
    color: #0a3782;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
    padding-left: 5px;
    white-space: nowrap;
}
.JobEntryInputBoxLabel {
    padding-right: 5px;
    vertical-align: middle;
}
.JobEntryInputBoxInput {
    padding-left: 5px;
    vertical-align: middle;
    font-size: 10pt;
}
.JobEntryInputBoxTwisty:after {
    font-family: "Glyphicons Halflings";
    content: "\e082";
}
.JobEntryInputBoxTwisty.collapsed:after {
    content:"\e081";
}
.JobEntryInputBoxHeader .btn {
    background-color: transparent;
    padding: 0;
    color: #0a3782;
    white-space: nowrap;
    width: 16px;
    height: 21px;
    margin: 0 5px 5px 5px;
    float: left;
}
.JobEntryInputBoxBody, AppliedLoadInputBoxBody {
    clear: left;
}

/* --- Job Entry Navigation Tabs --- */
.JobEntrySubNavContainer {
    margin-top: 20px;
}
.JobEntrySubNavContainer h1 {
    margin: 0;
    line-height:inherit;
}
.JobEntrySubNav {
	position: relative;
	z-index: 1;
	white-space: nowrap;
}
.JobEntrySubNav a {
	position: relative;
	display: inline-block;
	padding: 11px 18px;
	color: #FFF;
	text-decoration: none;
	margin: 0 -7px;
    cursor: pointer;
} 
.JobEntrySubNav a::before {
	border: 5px solid #8596A0;
}
.JobEntrySubNav a::before {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 5px; left: 0;
	z-index: -1;
	border-bottom: solid 5px #8596A0;
	background: #96A7AB; 
	transform: perspective(6px) rotateX(1.5deg);
	transform-origin: bottom;
}
.JobEntrySubNav a.JobEntrySubNavSelected {
	z-index: 2;
}
.JobEntrySubNav a.JobEntrySubNavSelected::before {
	padding-top:16px;
    margin-bottom: 0px;
	border-top-width: 5px;
    border-bottom:none;
    background-color:#9DAFB3;
}
.JobEntrySubNavFullWidthBackground {
    content: ' ';
    display: block;
	margin: 32px 0 0 -15px;
	padding: 0;
    border-top:solid 5px #8596A0;
    width: 500%;
    margin-left: -200%;
}

/* --- Job Entry Bottom Buttons --- */
.JobEntryBottomNavButtons {
    width: 100%;
    padding:0 0;
    height:40px;
    line-height:40px;
    margin: 10px auto 0 auto;
    vertical-align: bottom;
}
.JobEntryBottomNavButtonsFullWidthBackground {
    content: ' ';
    width: 500%;
    margin-left: -200%;
    background-color:#8596A0;
    padding: 0;
    height:40px;
    margin-top:-40px;
    margin-bottom:5px;
    display: block;
}

/* --- Print & Repair Geometry --- */
.GeometryInputColumn {
    padding: 0;
}
.GeometrySecondColumn {
    margin-left: -20px;
}
.GeometryDiagram {
    text-align: center;
}
.GeometryDiagram h1, .GeometryDiagram img {
    margin: 10px auto 20px auto;
}

/* --- Applied Loads --- */
.AppliedLoadsSubNav {
	position: relative;
	z-index: 1;
	white-space: nowrap;
    margin: 15px 0 0 0;
    border: solid 5px #8596A0;
    text-align: center;
}
.AppliedLoadsSubNav a {
	position: relative;
	display: inline-block;
	padding: 11px 24px;
	color: #FFF;
	text-decoration: none;
	margin: 0 -7px -10px -7px;
    cursor: pointer;
} 
.AppliedLoadsSubNav h3 {
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    line-height: 25px;
    font-size: 16pt;
    font-weight: bold;
}
.AppliedLoadsSubNav a::before {
	border: 5px solid #8596A0;
}
.AppliedLoadsSubNav a::before {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 5px; left: 0;
	z-index: -1;
	border-bottom: solid 5px #8596A0;
	background: #96A7AB; 
	transform: perspective(6px) rotateX(1.5deg);
	transform-origin: bottom;
}
.AppliedLoadsSubNav a.AppliedLoadsSubNavSelected {
	z-index: 2;
}
.AppliedLoadsSubNav a.AppliedLoadsSubNavSelected::before {
	padding-top:16px;
    margin-bottom: 0px;
	border-top-width: 5px;
    border-bottom:none;
    background-color:#9DAFB3;
}
.AppliedLoadsSubNavFullWidthBackground {
    content: ' ';
    display: block;
	margin: 32px 0 0 -15px;
	padding: 0;
    border-top:solid 5px #8596A0;
    width: 500%;
    margin-left: -200%;
}
.AppliedLoadsSubNavLeft {
    background-color: #8A9FAD;
    z-index: -3;
    border-left: solid 1px #8596A0;
}
.AppliedLoadsSubNavRight {
    background-color: #93A7B0;
    z-index: -3;
}
.AppliedLoadsButtonRowHidden {
    display: none;
}
.AppliedLoadsButtonRowVisible {
    display: block;
}
.hideSecondRow {}
.AppliedLoadInputBoxBody {
    position: relative;
}
.AppliedLoadInputBoxBody input {
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}

.AppliedLoadImage {
    width: 75%;
    margin: auto;
    display: block;
    z-index: 1;
}
input.AppliedLoadInput, input.AppliedLoadGrayedInput {
    z-index: 2;
}
input.AppliedLoadInput {
    width: 64px;
    height: 26px;
    border: solid 2px #5E6A71;
    font-size: 12pt;
    line-height: 22px;
    padding-left: 5px;
}
input.AppliedLoadGrayedInput {
    width: 64px;
    height: 26px;
    border: solid 2px #8596A0;
    font-size: 12pt;
    line-height: 22px;
    color: #8596A0;
    background-color: #DDD;
    padding-left: 5px;
}

/* --- Load Balance --- */
#LoadBalanceModel {
    background: linear-gradient(rgba(133,150,160,0.8),rgba(157,179,179,0.6));
    position:relative;
    display:block;
    text-align:center;
}
img.LoadBalanceModel {
    width:70%;
    height:auto;
    z-index:1;
    margin:30px;
}
#LoadBalanceModel input {
    user-select:none;
    z-index:2;
    position:absolute;
}
div#LoadBalanceTotals {
    padding-left:0;
    padding-right:0;
}
#LoadBalanceTotals .JobEntryInputBox {
    margin-top:0;
}
#LoadBalanceTotals input {
    margin:5px 0px;
}
#LoadBalanceTotals label {
    line-height:36px;
}
.LoadBalanceHeader {
    margin:30px 0 15px -15px;
    padding-left:0;
}

/* --- Form Elements --- */
.Checkbox, .Radio {
    opacity: 0;
    position: absolute;   
}
.Checkbox, .CheckboxLabel, .Radio, .RadioLabel {
    display: inline-block;
    cursor: pointer;
    float: left !important;
    line-height: 22px !important;
}
.CheckboxLabel, .RadioLabel {
    position: relative;
}
.Checkbox + .CheckboxLabel:before, .Radio + .RadioLabel:before {
    content: '';
    background: #fff;
    border: solid 3px #8596A0;
    display: inline-block;
    width: 22px;
    height: 22px;
    position: relative;
    top: 9px;
}
.Checkbox:checked + .CheckboxLabel:before {
    background: #5E6A71;
    box-shadow: inset 0 0 0 3px #FFF;
}
.Radio:checked + .RadioLabel:before {
    background-color: #5E6A71;
    box-shadow: inset 0 0 0 3px #FFF;
}
button
{
    border: solid 1px #8596A0;
}


/* --- Signalling-Only Classes --- */
.JobEntryInput {}   /* --- Class for Controller to grab to save field --- */
.JobInput{}