﻿@model I2ES.Web.Models.HealthViewModel



<h2>Health Check</h2>
<form action="health">
    <fieldset>
        <legend>HealthViewModel</legend>
        Url:
        <input style="width: 200px" name="requestUrl" id="requestUrl" />
        <div class="display-label">
            Traffic Manager Status
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TrafficManagerServiceStatus)
        </div>

        <div class="display-label">
            Traffic Manager Message
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TrafficManagerServiceMessage)
        </div>
        <div class="display-label">
            Write File Message
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.WriteFileMessage)
        </div>
        <input type="submit" value="Submit" />
    </fieldset>
</form>
