﻿@using I2ES.Model
@using I2ES.Model.DomainModel
@model I2ES.Model.DomainModel.IISAMSModel
<script src="~/Controllers/ParameterController.js"></script>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class="round">

<div id="parameterDiv">
    <p>
        @Html.DisplayNameFor(model => model.JobType.Description)
    </p>
    @using (Html.BeginForm("Insert", "Parameter", FormMethod.Post)) {
        <input type="hidden" name="jobId" value="@Model.Job.JobId" />
        <div style="padding-left: 25px">
            <table>
                @foreach (ParameterGroup parameterGroup in Model.JobType.ParameterGroups) {
                    <tr>
                        <th colspan="2" style="height: 30px; padding: 10px">
                            @parameterGroup.Description
                        </th>

                    </tr>
                    foreach (var item in parameterGroup.Parameters) {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @Html.TextBox(item.ParameterId.ToString(), item.Value)
                            </td>
                        </tr>
                    }
                }
            </table>
            <input type="hidden" name="JobTypeId" id="JobTypeId" value="@Model.JobType.JobTypeId"/>
            <button id="buttonSubmit">Submit</button>
        </div>

    }
</div>
<div id="pictureDiv" style="position: fixed; top: 130px; right: 50px">

    <img width="800" height="600" style="border: 2px solid black" src="~/Images/repairImages/SingleHole/SHA_Loads.png"/>
</div>
</body>
</html>
